*.js linguist-detectable=true
*.js linguist-language=JavaScript

*.min.js linguist-detectable=true
*.min.js linguist-language=JavaScript


*.6.1.js linguist-detectable=true
*.6.1.js linguist-language=JAVASCRIPT
